:root {
  --primary-color: #ffd44c;
  --secondary-color: #00034d;
  --third-color: #f165d2;
  --fourth-color: #f4f4f4;
  --fifth-color: #252323;
  --primary-font: "Sedgwick Ave display", sans-serif;
  --secondary-font: "Atkinson Hyperlegible", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--fourth-color);
}

img {
  width: 100%;
}

h1 {
  color: var(--secondary-color);
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-align: center;
  background-image: url("../assets/images/paint-trace.png");
  background-position: left center;
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  padding: 3rem 2.5rem;
  width: 20rem;
  margin: auto;
}
