.modal-art-details {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  bottom: 6rem;
  width: 98%;
  height: 35rem;
  background-color: var(--fourth-color);
  border: 2.5px solid var(--fifth-color);
  border-radius: 0.9375rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: scroll;
  scrollbar-color: var(--third-color) var(--third-color);
}

.modal-art-details > header {
  display: flex;
  justify-content: flex-end;
}

.close-art-details {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  margin: 1rem 0;
}

.close-art-details:hover {
  color: var(--third-color);
  cursor: pointer;
}

.modal-content-art-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
  color: var(--secondary-color);
}

.modal-content-art-details > h3 {
  font-size: 1.5rem;
  text-align: center;
}

.modal-picture-art-details {
  width: 20rem;
  object-fit: cover;
}

.modal-art-details-description {
  color: var(--secondary-color);
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .modal-art-details {
    top: 5.5rem;
    left: 0.2rem;
    bottom: 10rem;
    transform: none;
    width: 30rem;
    max-height: 35rem;
  }
}
