.modal-welcome {
  position: fixed;
  top: 16%;
  left: 5%;
  background-color: var(--fourth-color);
  border: 2.5px solid var(--fifth-color);
  border-radius: 0.6rem;
  color: var(--secondary-color);
  z-index: 1;
  width: 90%;
  height: 50%;
  padding: 1rem;
}

.modal-welcome header {
  display: flex;
  justify-content: flex-end;
}

.modal-welcome button {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  padding-right: 1rem;
  margin: 1rem 0;
}

.modal-welcome button:hover {
  color: var(--third-color);
  cursor: pointer;
}

.modal-welcome article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.modal-welcome article h2 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .modal-welcome {
    width: 25%;
    height: 60%;
    top: 19%;
    left: 1%;
  }
}
