.navbar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

@keyframes moving {
  100% {
    width: 100%;
  }
}

.figure-navbar-active {
  border-image: linear-gradient(var(--third-color), var(--primary-color)) 10;
  border-width: 2px;
  border-style: solid;
  padding: 0.2rem 0.2rem 0 0.2rem;
  margin-top: -0.2rem;
}

.figcaption-navbar-active,
.figcaption-navbar-normal {
  display: none;
}

.nav-inscription {
  display: none;
}

.navlink {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.loginNav-connect {
  display: none;
}

.navbar-logout-list {
  display: none;
}

.navlink .icon-navbar {
  width: 1.875rem;
  height: 1.875rem;
}

.camera-icon {
  position: relative;
  top: -2.3rem;
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--primary-color);
}

.camera-icon::after {
  content: "";
  position: absolute;
  background-color: #01034d;
  top: -0.5rem;
  left: -13%;
  width: 6rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  height: 3rem;
  z-index: -1;
}

.btnMenuBurger {
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.menuBurger {
  width: 2.85rem;
}

.menu_border {
  position: absolute;
  bottom: 99%;
  width: 10rem;
  height: 2.4rem;
  background-color: var(--secondary-color);
}

.navbar > ul > li {
  margin-top: 1.5rem;
}

.navbar > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding-top: 0.5rem;
}

.articleBurger {
  position: absolute;
  bottom: 2rem;
  left: 11rem;
  padding: 30% 35%;
  background-color: var(--secondary-color);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  transform: translateX(100%);
  opacity: 0;
  z-index: -2;
}

.articleBurger.active {
  transform: translateY(0);
  opacity: 1;
  z-index: -1;
}

.articleBurger ul {
  transform: translate(1rem);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}

.articleBurger ul li a {
  position: relative;
  color: var(--primary-color);
  text-decoration: none;

  right: 7rem;
  font-size: 1.5rem;
}

.navbar-logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    top: 0;
  }

  .figure-navbar-active {
    border: none;
    margin: 0;
    padding: 0;
  }

  .figcaption-navbar-active {
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.2rem;
  }

  .figcaption-navbar-normal {
    display: inline-block;
    color: var(--fourth-color);
    font-size: 1.2rem;
  }

  .navbar > ul {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
    padding-top: 0;
  }

  .navbar > ul > li {
    margin-top: 0;
  }

  .navbar-logo {
    display: block;
    width: 13rem;
    margin-left: 1rem;
    padding: 0.5rem;
  }

  .navbar .navlink img {
    display: none;
  }

  .navbar-camera-list {
    display: none;
  }

  .navbar-logout-list {
    display: block;
  }

  .nav-inscription {
    display: block;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    margin-left: 1rem;
  }

  .nav-inscription > a {
    color: var(--secondary-color);
  }

  .icon {
    display: none;
  }

  .btnMenuBurger {
    display: none;
  }

  .articleBurger {
    display: none;
  }
}
